body
{
  margin: 0px;
  padding: 0px;
  width: 100vw;
}
.container
{
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
}
.nav
{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 6px;
}
@media screen and (max-width: 400px) {
  .nav
  {
    margin-top: 30px;
  }
  .logo-search input[type="text"]
  {
    min-width: 0;
    width: 200px;
  }
  .logo-search img
  {
    width: 250px;
    height: auto;
  }
}
@media  screen and (max-width: 2000px) and (min-width: 401px){
  .nav
  {
    margin-top: 0px;
  }
  .logo-search input[type="text"]
  {
    width: 30vw;
  }
}
.google-icon-container
{
  /* background: red; */
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.google-icon-container:hover
{
  box-shadow: 0 0 5px 2px #70757a;
}
.nav img[name="user-icon"]
{
  width: 32;
  height: 32;
  padding: 0px;
  border-radius: 50%;
  margin: 10px;
  transition: 0.25s;
}
.nav img[name="google-apps-icon"]
{
  width: 26;
  height: 26;
  border-radius: 50%;
}
.nav img[name="user-icon"]:hover
{
  box-shadow: 0 0 5px 2px #70757a;
}
.nav a
{
  text-decoration: none;
  color: #000000DE;
  font-size: 13px;
  font-family: arial, sans-serif;
  margin: 5px;
}
.nav a:hover
{
  text-decoration: underline;
}
.logo-search
{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-self: center;
  align-items: center;
}
.logo-search img
{
  margin: 0px auto;
}
.logo-search input[type="text"]
{
  margin: 20px auto;
  height: 40px;
  border: 1px solid #cfcfcf;
  border-radius: 24px;
  outline: none;
  padding: 0 40px;
  transition: 0.25s;
  min-width: 200px;
  font-family: arial, sans-serif;
}
.logo-search input[type="text"]:hover
{
  box-shadow: 0 0 10px 1px #cfcfcf
}
.search-bar
{
  position: relative;
}
.search-icon img
{
  display: flex;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 37%;
  left: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.logo-search p
{
  margin-left:10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: arial, sans-serif;
}
.logo-search a
{
  margin-left: 10px;
  text-decoration: none;
  transition: 0.2s;
}
.logo-search a:hover
{
  text-decoration: underline;
}
.button-container
{
  display: flex;
  justify-content: center;
}
.button-container input[type="submit"]
{
  display: flex;
  flex-direction: row;
  width: 130px;
  height: 36px;
  margin: 11px 4px;
  padding: 0px 16px;
  font-family: arial, sans-serif;
  border: 0px solid #fff;
  border-radius: 4px;
  background: #f8f9fa;
  cursor: pointer;
  outline-color: #34c3eb;
}
.button-container input[type="submit"]:hover
{
  box-shadow: 0 0 0 1px #bdbdbd;
}
.button-container input[type="submit"]:focus
{
  border:1px solid #34c3eb;
}
.page-footer
{
  display: flex;
  flex-direction: column;
  background: #f0f0f0;
}
.footer-1
{
  padding: 0px 20px;
  border-bottom: 1px solid #8f8f8f;
}
.footer-1 p
{
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #70757a;
}
.footer-2
{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
}
.footer-2 a
{
  text-decoration: none;
  color: #70757a;
  font-family: arial, sans-serif;
  margin-right: 14px;
  font-size: 14px;
  transition: 0.2s;
}
.footer-2 a:hover
{
  text-decoration: underline;
}
